<html>

<head>
    <%include ./partials/head %>
</head>

<body>
    <header>
        <%include ./partials/header %>
    </header>

    <div class="row">
        <main class="col-12">
   

            <h1>Login to Challenge Yourself</h1>
            <form action="/auth/login" method="POST" id="login-form">
                <div>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="johnnybravo">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="*************">
                </div>
                <button type="submit"  class="submit-button">Login</button>   
            </form>

        </main>

    </div>
    <%include ./partials/scripts %>
</body>

</html>